@import "tailwindcss";

@theme {
  --font-sans: var(--font-neue-haas), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace;
}

.max-w-8xl {
  max-width: 1800px;
}

.border-dotted {
  border-style: dotted;
}

.dotted-underline {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .4) 50%, transparent 0);
  background-position: 0 1.44em;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}